body {
  background-color: #F6EFEE;
  text-align: left;
  padding-top: 0em;
  font-family: 'Bree Serif', serif;
}

page {
  font-size: 20px;
  justify-content: right;
  align-items: normal;
  height: 100vh;
  font-family: 'Bree Serif', serif;
  padding: 100em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
